*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style: none !important;
}


body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: auto;
}
.background {
  background: linear-gradient(to bottom, #2fa5ed, #b5d3f9, #ebeefb);
  background-position: center;
  width: 100%;
  padding: 20px 0;
}
.overall {
  display: flex;
}

@media screen and (max-width: 850px) {
  .overall {
    flex-direction: column;
  }
}